@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

body {
  cursor: url('/src/images/cursor.png'), auto;
}

section {
    /*dimenções*/
    width: 100%;
    height: 100vh;

    background-color: rgb(230, 230, 231);

    /*posicionamento*/
    display: flex;
    justify-content: center;
    align-items: center;
}

/*box do cadastro*/
.container-cadastro {
    width: 95%;
    height: 680px;

    background-color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 15px;

    position: relative;
}

.voltar {
  width: 30px;
  height: 30px;

  position: absolute;
  margin: 40px 0 650px 30px;
}

/*Frmulario  da page cadastro*/
.content-cadastro {
    width: 500px;
    margin-left: 70px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-cadastro img {
    width: 90px;
    height: 90px;
}

.content-cadastro h1 {
    font-size: 2rem;
    font-weight: 600;

    color: black;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    margin-bottom: 20px;
}

.inputs-cadastro {
    width: 500px;
    height: 50px;

    border: none;
    border-radius: 10px;
    outline: none;

    background: rgba(217, 217, 217, 0.80);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;

    padding-left: 32px;
    margin-bottom: 10px;
}

.termos {
    display: flex;

    margin: 0 0 30px 15px;
}

.termos span {
    font-weight: 600;
}

#checkbox {
    width:  24px;

    border: 1px solid black;

    margin-right: 10px;
}

.content-cadastro button {
    width: 276px;
    height: 40px;

    border: none;
    border-radius: 10px;

    background-color:  rgba(195, 15, 255, 0.80);

    color: white;
    font-size: 20px;
    font-weight: 600;

    margin: 0 140px;

    transition: 0.8s;
}

.content-cadastro button:hover {
    box-shadow: -3px 3px 10px 1px rgba(195, 56, 241, 0.8);

    cursor: pointer;
}

#outras-contas {
    color: black;
    font-size: 11px;
    font-weight: 300;

    margin-top: 23px;
}

.redes-sociais {
    width: 270px;

    display: flex;
    justify-content: space-between;
}

.redes-sociais img {
    width: 50px;

    transition: 0.2s;
}

.redes-sociais img:hover {
    width: 45px;

    cursor: pointer;

}

.avatar {
    width: 40px;

    position: absolute;

    margin-left: 700px;

    animation: animação  linear infinite;
    animation-duration: 5s;
}

.avatar img{
    width: 400px;
}

@keyframes animação {
  0%{
    transform: translateY(0px);
  }

  10%{
    transform: translateY(5px);
  }

  20%{
    transform: translateY(10px);
  }
  30%{
    transform: translateY(15px);
  }
  40%{
    transform: translateY(10px);
  }
  50%{
    transform: translateY(5px);
  }
  60%{
    transform: translateY(0px);
  }
  70%{
    transform: translateY(-5px);
  }
  80%{
    transform: translateY(-10px);
  }
  90% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}

.registrar-se {
    width: 45%;
    height: 100%;

    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
    background-image: url(/src/images/background-login.svg);
    color: white;
    
    text-align: center;
}

.registrar-se h1 {
    font-size: 32px;
    font-weight: 300;
    line-height: 25px;

    margin: 220px 55px 20px 250px;
}

.registrar-se span {
    font-size: 36px;
    font-weight: 700;
}

.registrar-se p {
    font-size: 15px;
    font-weight: 275;
    line-height: 15px;
    letter-spacing: 1px;

    margin: 0 50px 60px 201px;
}

.registrar-se button {
    width: 286px;
    height: 40px;

    border: none;
    border-radius: 10px;

    background-color:  rgba(195, 15, 255, 0.80);
    
    color: white;
    font-size: 20px;
    font-weight: 600;

    margin-left: 180px;

    transition: 0.8s;
}

.registrar-se button:hover {
    box-shadow: -3px 3px 10px 1px rgba(195, 56, 241, 0.8);

    cursor: pointer;
}