.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fundo {
  background: #09000c;
  stroke-width: 3px;
  stroke: rgba(141, 141, 141, 0.5);
  width: 1920px;
  height: 849px;
  border-bottom-right-radius: 20%;
  position: relative;
  border-bottom-left-radius: 20%;
}

.header {
  display: flex;
  justify-content: center;
}

.ajuste-gap {
  display: flex;
  gap: 70px;
  margin-top: 20px;
  margin-right: 360px;
}

.header-log-car {
  display: flex;
  width: 137px;
  height: 34px;
  border-radius: 100px;
  background: #fff;
  font-family: Poppins;
  margin-top: 20px;
  margin-left: 10px;
  padding-left: 10px
}

.header-log-car p {
  padding-top: 5px;
  padding-left: 2px;
}

.header-log-car p:hover {
  color: #c30fff;
  cursor: pointer;
}

.ul-bar {
  background: white;
  width: 465px;
  height: 34px;
  border-radius: 100px;
  padding:4px;
}

.navbar {
  display: flex;
  gap: 17px;
  list-style: none;
  
}

.navbar a {
  text-decoration: none;
  color: black;
  font-family: Poppins;
  text-align: center;
  padding: 0px 0px 0px 35px;
}

.navbar a:hover {
  color: #c30fff;
}

.flex-mid {
  display: flex;
  justify-content: center;
  gap: 91px;
  padding-top: 50px;
}

.text {
  color: white;
  font-family: Inter;
  padding-top: 100px;
}

.text-1 {
  font-size: 54px;
  font-weight: 900;
}

.text-2 {
  color: #c30fff;
  font-size: 96px;
  font-weight: 900;
  line-height: 96px;
}

.text-3 {
  color: #fff;
  font-size: 32px;
  font-weight: 900;
  line-height: 30px;
}

.text-4 {
  color: #670886;
  font-size: 96px;
  font-weight: 900;
}

/* javascript text */
.text-5 {
  color: #d0fd04;
  font-size: 48px;
  font-weight: 900;
  border-right: 3px solid white;
  animation: blink 0.7s infinite alternate;
}

@keyframes blink {
  from {
    border-color: white;
  }
  to {
    border-color: transparent;
  }
}

.drone-flex {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.drone-flex-txt {
  padding-top: 200px;
  text-align: center;
  font-family: Poppins;
}

.drone-flex-txt h6 {
  font-size: 16px;
  font-weight: 800;
}

.drone-flex-text p {
  font-weight: 300;
  font-size: 15px;
}

.fundo-loja {
  width: 1927px;
  height: 2539px;
  background: #09000c;
}

.estatisticas {
  display: flex;
  justify-content: center;
  padding-top: 250px;
  gap: 72px;
  font-family: Poppins;
  align-items: center;
}

.estatisticas h1 {
  color: #c30fff;
  text-align: center;
  font-weight: 600;
  color: #c30fff;
  text-align: center;
  font-family: Poppins;
  font-size: 64px;
}

.estatisticas p {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
}

.estatisticas figure {
  padding-left: 27%;
}

.line-loja-b {
  width: 211px;
  height: 1px;
  background: #fff;
  margin-top: 200px;
}

.line-loja-r {
  width: 211px;
  height: 1px;
  background: #c30fff;
  margin: 2px 0px 127px 0px;
}

.return-r {
  display: flex;
}

.return-r h6 {
  color: white;
  margin: 190px 0px 0px 34px;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
}

/* Carrossel */
.carrossel {
  width: 70%;
  margin: 50px auto;
  position: relative;
}

.carousel-cell {
  width: 242px;
  height: 384px;
  background-color: white;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Seta para a direita */
.next-btn, .prev-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: #3498db;
  border: none;
  font-size: 30px;
  cursor: pointer;
}

.next-btn:hover, .prev-btn:hover {
  color: #2980b9;
}

/* Seta à direita */
.next-btn {
  right: -30px;
}

/* Seta à esquerda */
.prev-btn {
  left: -30px;
}

/* Esconder os cards fora da vista */
.carousel {
  overflow: hidden; /* Esconde os cards que não estão visíveis */
}


/* Carrossel 2 */


