* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

body {
    cursor: url('/src/images/cursor.png'), auto;
  }

section {
    /*dimenções*/
    width: 100%;
    height: 100vh;

    background-color: rgb(0, 0, 0);

    /*posicionamento*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-login {
    width: 40%;
    height: 680px;

    background-color: rgb(63, 63, 63);

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 15px;

    position: relative;
}

/*Frmulario  da page login*/
.content-login {
    width: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background: transparent;

    position: absolute;

    z-index: 1;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-login h1 {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;

    color: rgba(195, 15, 255, 0.80);
    text-shadow:  0px 0px 3px rgb(204, 96, 240);

    margin-bottom: 40px;
}

.inputs-login {
    width: 400px;
    height: 50px;

    border: none;
    border-radius: 10px;
    outline: none;

    background: rgba(196, 196, 196, 0.352);
    box-shadow: 0px 4px 4px 1px rgba(123, 123, 123, 0.723) inset;
    color: white;

    padding-left: 32px;
    margin-bottom: 17px;


}

input:hover {
    cursor: pointer;
}

::placeholder {
    color: rgb(215, 215, 215);
}

.senha {
    width: 400px;

    font-size: 12px;
    font-weight: 300;
    color: white;

    display: flex;
    justify-content: space-between;
    padding-left: 10px;

    margin-bottom: 45px;
}

.lembrar-senha {
    display: flex;
}

#checkbox {
    width:  24px;

    border: 1px solid rgb(255, 255, 255);

    margin-right: 10px
}

.content-login button {
    width: 276px;
    height: 40px;

    border: none;
    border-radius: 10px;

    background-color:  rgba(195, 15, 255, 0.80);

    color: white;
    font-size: 20px;
    font-weight: 600;

    transition: 0.8s;
}

.content-login button:hover {
    box-shadow: -3px 3px 10px 1px rgba(195, 56, 241, 0.8);

    cursor: pointer;
}


