* {
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}

.principalcontainer {
  display: flex;
  height: 100vh;
  width: 100%;
  background: white;
  overflow: hidden;
}

.aside {
  width: 250px;
  background: black;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

.aside-direito {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.aside-direito > header {
  width: 100%;
  background: white;
  border-radius: 8px 8px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.conteudo {
  width: 100%;
  height: 100%;
  background: black;
  border-radius: 20px;
  margin-top: 20px;
  color: white;
  overflow-y: auto;
  padding: 20px;
}

.cont-aside h1 {
  padding-bottom: 31px;
  font-size: 22px;
  font-weight: 900;
  text-align: center;
}

.cont-aside p {
  font-weight: 300;
  text-align: left;
  font-size: 18px;
  margin: 5px 0;
}

.flex-menu-aside {
  display: flex;
  gap: 10px;
  padding: 8px 0;
  cursor: pointer;
}

.flex-ok {
  display: flex;
  gap: 20px;
  align-items: center;
}

.flex-ok h3 {
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  color: green;
}

/* Accordion Styles */
.accordion .accordion-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  padding-left: 35px;
}

.accordion .accordion-body.open {
  max-height: 500px; /* Ajustável conforme quantidade de links */
}

.icon-circle {
  width: 12px;
  height: 12px;
  background-color: #66ff66; /* Verde neon */
  border-radius: 50%;
  margin-top: 6px;
  align-self: center;
}

.flexnormal {
  display: flex;
  gap: 10px;
}